.list-block {

  .item-block {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    color: white;
    margin: 10px 2px;
    height: 100px;
    padding: 5px;
    overflow: hidden;
    font-size: 0.9em;
    transition: all .2s ease-in-out;
    opacity: 0.9;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      opacity: 1;
    }
  }

}

.area-container .item-block{
  color: white;
  padding: 10px;
  margin: 5px;
  min-height: 110px;
  flex:1
}
