<span class="display-block-icon-font">
    <i class="fa fa-file-image-o block-icon"></i>
    <strong>
        {{ 'php_orchestra_backoffice.block.header.title' | trans }}
    </strong>
    <p>
        {{ 'php_orchestra_backoffice.block.header.description' | trans }}
    </p>
</span>
