{% extends 'PHPOrchestraBackofficeBundle::layout.html.twig' %}

{% block content %}
    <!-- LOADER FULL PAGE -->
    <div id="loader-fullpage">
        <div id="bg-loader-fullpage"></div>
        <div id="fg-loader-fullpage"><h1><i class="fa fa-cog fa-spin"></i> Loading...</h1></div>
    </div>

    <!-- HEADER -->
    {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include:header.html.twig' %}
    <!-- END HEADER -->

    <!-- Left panel : Navigation area -->
    <aside id="left-panel">

        <!-- User info -->
        {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include:userInfo.html.twig' %}
        <!-- end user info -->

        <!-- Navigation -->
        {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include:leftMenu.html.twig' %}
        <!-- Navigation -->

        <span class="minifyme">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

    </aside>
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->
    <div id="main" role="main">

        <!-- RIBBON -->
        {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include:ribbon.html.twig' %}
        <!-- END RIBBON -->

        <!-- MAIN CONTENT -->
        <div id="content"></div>
        <!-- END MAIN CONTENT -->

        {% include 'PHPOrchestraBackofficeBundle:Editorial:backboneTemplate.html.twig' %}

    </div>

    <div class="modal fade" id="OrchestraBOModal" tabindex="-1" role="dialog" aria-labelledby="OrchestraBOModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="OrchestraBOModalLabel"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}
