<span class="display-block-icon-font">
    <i class="fa fa-list block-icon"></i>
    <strong>
    </strong>
    <p>
        {{ 'open_orchestra_backoffice.block.footer.description' | trans }}
    </p>
</span>
