<div class="block-icon-font">
    <i class="fa fa-list block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.footer.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.footer.description' | trans }}
    </p>
</div>
