<div class="top-action-buttons">
    <a class="btn btn-border btn-return" href="#<%= Backbone.history.generateUrl('showNodes', {language: language}) %>" role="button">
        <%= Translator.trans('open_orchestra_backoffice.back_to_list') %>
    </a>
</div>
<div class="pull-right languages">
    <ul>
        <% _.each(siteLanguages, function(siteLanguage, key) { %>
            <% if (siteLanguage === language) { %>
                <li class="active">
                    <img src="/images/languages/<%= siteLanguage %>.png" alt="<%= siteLanguage %>" /><%= siteLanguage.toUpperCase() %>
                </li>
                <% } else { %>
                <li>
                    <a href="#<%= Backbone.history.generateUrl('newTreeNode', {language: siteLanguage, parentId: parentId}) %>">
                        <img src="/images/languages/<%= siteLanguage %>.png" alt="<%= siteLanguage %>" /><%= siteLanguage.toUpperCase() %>
                    </a>
                </li>
            <% }; %>
        <% }); %>
    </ul>
</div>
<h1> <%= Translator.trans('open_orchestra_backoffice.node.new') %></h1>
<p> <%= Translator.trans('open_orchestra_backoffice.node.tree.new_select_page') %></p>
<div class="tree tree-new-node">
    <ul class="root-level">
        <% _.each(nodesTree, function(nodeTree, key) { %>
            <li>
                <div>
                    <i class="fa fa-chevron-down toggle-tree" aria-hidden="true"></i>
                    <span><%= nodeTree.get('node').get('name') %></span>
                </div>
                <ul class="children">
                    <li>
                        <div>
                            <a class='new-node-link' href="#<%= Backbone.history.generateUrl('newNode', {language: language, parentId: nodeTree.get('node').get('node_id'), order: '0'}) %>">
                                <%= Translator.trans('open_orchestra_backoffice.node.tree.add_here') %>
                            </a>
                        </div>
                    </li>
                    <% _.each(nodeTree.get('children'), function(childrenTree, key) { %>
                        <li>
                            <div>
                                <p><span><%= childrenTree.get('node').get('name') %></span></p>
                                <a class='new-node-link' href="#<%= Backbone.history.generateUrl('newNode', {language: language, parentId: nodeTree.get('node').get('node_id'), order: (childrenTree.get('node').get('order') + 1).toString()}) %>">
                                    <%= Translator.trans('open_orchestra_backoffice.node.tree.add_here') %>
                                </a>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ul>
</div>
