<div class="row col-xs-12">
    <div class="form-group">
        <label class="control-label" for="version_name">
            <%- Translator.trans('open_orchestra_backoffice.versionable.version_name') %>
        </label>
        <input type="text" id="version_name" name="version_name" class="form-control version_name" value="<%- versionName %>">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-info btn-validate-new-version"><%- Translator.trans('open_orchestra_backoffice.versionable.validate_new_version') %></button>
    </div>
</div>
