<div class="form-inline row">
    <% if (true === node.get('status').get('published_state')) {%>
        <div class="alert alert-success alert-published-state" role="alert">
            <div class="heading"><%- Translator.trans('open_orchestra_backoffice.node.message_online.title') %></div>
            <p>
                <%= (Translator.trans('open_orchestra_backoffice.node.message_online.message').replace(/\\n/g, '<br>')) %>
            </p>
        </div>
    <% }; %>
    <% if (false === node.get('rights').can_publish_node) {%>
    <div class="alert alert-warning" role="warning">
        <div class="heading"><%- Translator.trans('open_orchestra_backoffice.node.route_pattern_arguments.title') %></div>
        <p>
            <%= (Translator.trans('open_orchestra_backoffice.node.route_pattern_arguments.message').replace(/\\n/g, '<br>')) %>
        </p>
    </div>
    <% }; %>
    <div class="pull-left">
        <div class="form-group">
            <label for="select-version" class="control-label"><%- Translator.trans('open_orchestra_backoffice.versionable.version') %></label>
            <div class="styled-select">
                <select class="form-control" id="select-version">
                    <% _.each(nodeVersions, function(nodeVersion, key) { %>
                        <option value="<%- nodeVersion.get('version') %>" <% if(nodeVersion.get('version') == node.get('version')) {%> selected <% } %> >
                            <%- nodeVersion.get('version_name') %>
                        </option>
                    <% }); %>
                </select>
            </div>
        </div>
        <% if (true == node.get('rights').can_edit) { %>
            <div class="form-group">
                <button type="button" class="btn btn-info btn-new-version"><%- Translator.trans('open_orchestra_backoffice.versionable.new_version') %></button>
            </div>
        <% } %>
    </div>

    <div class="pull-right">
        <% if ( 0 !== node.get('preview_links').length) { %>
            <div class="form-group">
                <div class="dropdown dropdown-preview">
                    <button class="dropdown-toggle btn btn-border btn-large"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <%- Translator.trans('open_orchestra_backoffice.node.preview') %>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <% _.each(node.get('preview_links'), function(previewLink, key) { %>
                        <li>
                            <a href="<%- previewLink.link %>"><%- previewLink.name %></a>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        <% }; %>
        <div class="form-group">
            <div class="<% if (statuses.length > 0) { %>styled-select <% } %>dropdown dropdown-workflow">
                <button class="dropdown-toggle btn btn-large"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span style="color: <%- node.get('status').get('code_color') %>"> <%- node.get('status').get('label') %></span>
                </button>
                <% if (statuses.length > 0) { %>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <% for (var index in statuses) { %>
                            <% var status = statuses[index]; %>
                            <li>
                                <a data-id="<%= status.get('id')%>" style="color: <%= status.get('code_color') %>">
                                    <%- status.get('label') %>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="new-version-form-region"></div>
