<div class="pull-right languages">
    <ul>
        <% _.each(siteLanguages, function(siteLanguage, key) { %>
            <% if (siteLanguage === language) { %>
                <li class="active">
                    <img src="/images/languages/<%- siteLanguage %>.png" alt="<%- siteLanguage %>" /><%- siteLanguage.toUpperCase() %>
                </li>
            <% } else { %>
                <li>
                    <a href="#<%- Backbone.history.generateUrl('showNodes', {language: siteLanguage}) %>">
                        <img src="/images/languages/<%- siteLanguage %>.png" alt="<%- siteLanguage %>" /><%- siteLanguage.toUpperCase() %>
                    </a>
                </li>
            <% }; %>
        <% }); %>
    </ul>
</div>
<h1> <%- Translator.trans('open_orchestra_backoffice.node.title') %></h1>
<form class="form-horizontal search-engine">
    <div class="form-group col-lg-6">
        <label for="title" class="control-label col-md-4"><%- Translator.trans('open_orchestra_backoffice.table.node.title')%></label>
        <div class="col-md-8">
            <input type="text" name='name' class="form-control" id="title" placeholder="">
        </div>
    </div>
    <div class="form-group col-lg-6">
        <label for="select-state" class="control-label col-md-4"><%- Translator.trans('open_orchestra_backoffice.node.search_engine.status')%></label>
        <div class="col-md-8">
            <div class="styled-select">
                <select class="form-control" name='status' id="select-state">
                    <option></option>
                    <% _.each(statuses, function(status, key) { %>
                            <option value="<%- status.get('name') %>" style='color:<%- status.get('code_color') %>;'><%- status.get('label') %></option>
                    <% }); %>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group col-lg-6">
        <label for="title" class="control-label col-md-4"><%- Translator.trans('open_orchestra_backoffice.node.search_engine.displayed_menu')%></label>
        <div class="col-md-8">
            <div class="radio radio-inline">
                <input id="inputRadio1" value="1" name="inMenu" type="radio">
                <label for="inputRadio1"><%- Translator.trans('open_orchestra_backoffice.search_engine.yes')%></label>
            </div>
            <div class="radio radio-inline">
                <input id="inputRadio2" value="0" name="inMenu" type="radio">
                <label for="inputRadio2"><%- Translator.trans('open_orchestra_backoffice.search_engine.no')%></label>
            </div>
            <div class="radio radio-inline">
                <input id="inputRadio3" value="" name="inMenu" checked="checked" type="radio">
                <label for="inputRadio3"><%- Translator.trans('open_orchestra_backoffice.node.search_engine.na')%></label>
            </div>
        </div>
    </div>
    <div class="form-group col-lg-12">
        <div class="col-lg-6">
            <button class="btn btn-info col-md-offset-4 submit"><%- Translator.trans('open_orchestra_backoffice.search_engine.filter')%></button>
            <button class="btn btn-border btn-large hidden reset"><%- Translator.trans('open_orchestra_backoffice.node.search_engine.reset')%></button>
        </div>
    </div>
</form>
<div class="nodes-tree">
</div>
<div class="nodes-list">
</div>
