<% if (true === node.get('status').get('published_state')) {%>
    <div class="alert alert-success alert-published-state" role="alert">
        <div class="heading"><%- Translator.trans('open_orchestra_backoffice.node.message_online.title') %></div>
        <p>
            <%= (Translator.trans('open_orchestra_backoffice.node.message_online.message').replace(/\\n/g, '<br>')) %>
        </p>
    </div>
<% }; %>
<% if (false === node.get('rights').can_publish_node) {%>
<div class="alert alert-warning" role="warning">
    <% if (1 == requiredUriParameters.length) { %>
        <div class="heading"><%- Translator.trans('open_orchestra_backoffice.node.route_pattern_arguments.unique_title') %></div>
        <p>
            <%= (Translator.trans('open_orchestra_backoffice.node.route_pattern_arguments.unique_message').replace(/\\n/g, '<br>').replace('%s', '{' + requiredUriParameters.join('}, {') + '}')) %>
        </p>
    <% } else { %>
        <div class="heading"><%- Translator.trans('open_orchestra_backoffice.node.route_pattern_arguments.multiple_title') %></div>
        <p>
            <%= (Translator.trans('open_orchestra_backoffice.node.route_pattern_arguments.multiple_message').replace(/\\n/g, '<br>').replace('%s', '{' + requiredUriParameters.join('}, {') + '}')) %>
        </p>
    <% } %>
</div>
<% }; %>
