<div class="tree">
    <div class="actions">
        <a href="#" class="btn btn-border btn-close">
            <%= Translator.trans('open_orchestra_backoffice.node.tree.close') %>
        </a>
        <a href="#" class="btn btn-border btn-open">
            <%= Translator.trans('open_orchestra_backoffice.node.tree.open') %>
        </a>
    </div>

    <div class="legend-panel panel">
        <div class="panel-heading"><%= Translator.trans('open_orchestra_backoffice.node.tree.statuses_legend.title') %></div>
        <div class="panel-body">
            <ul class="state">
                <% _.each(statuses, function(status, key) { %>
                    <li class="state-<%= status.get('code_color') %>"><%= status.get('label') %></li>
                <% }); %>
                <li class="out-of-bounds"><%= Translator.trans('open_orchestra_backoffice.node.tree.statuses_legend.out_of_bounds') %></li>
            </ul>
        </div>
    </div>

    <ul class="root-level">
        <% _.each(nodesTree, function(nodeTree, key) { %>
            <%= renderTemplate('Node/nodeElementTreeView', {renderTemplate: renderTemplate, nodeTree: nodeTree}) %>
        <% }); %>
    </ul>
</div>
