<%= renderTemplate('Node/nodeTopButtonsView', {nodeId: node.get('node_id'), language: node.get('language'), version: node.get('version'), type: 'parameterize'}) %>
<div class="pull-right languages">
    <ul>
        <% _.each(siteLanguages, function(siteLanguage, key) { %>
            <% if (siteLanguage === node.get('language')) { %>
                <li class="active">
                    <img src="/images/languages/<%- siteLanguage %>.png" alt="<%- siteLanguage %>" /><%- siteLanguage.toUpperCase() %>
                </li>
            <% } else { %>
                <li>
                    <a href="#<%- Backbone.history.generateUrl('editNode', {language: siteLanguage, nodeId: node.get('node_id')}) %>">
                        <img src="/images/languages/<%- siteLanguage %>.png" alt="<%- siteLanguage %>" /><%- siteLanguage.toUpperCase() %>
                    </a>
                </li>
            <% }; %>
        <% }); %>
    </ul>
</div>
<h1> <%- node.get('name') %></h1>
<div class="node-action-toolbar">
</div>
<div class='form-edit'></div>
