<div class="pull-right languages">
    <ul>
        <% _.each(siteLanguages, function(siteLanguage, key) { %>
            <li <% if (siteLanguage === language) { %> class="active" <% }; %> >
                <a href="#<%= Backbone.history.generateUrl('showNodeTree', {language: siteLanguage}) %>">
                    <img src="/images/languages/<%= siteLanguage %>.png" alt="<%= siteLanguage %>" />
                    <%= siteLanguage.toUpperCase() %>
                </a>
            </li>
        <% }); %>
    </ul>
</div>
<h1> <%= Translator.trans('open_orchestra_backoffice.node.title') %></h1>
<div class="tree">
    <div class="actions">
        <a href="#" class="btn btn-border btn-close">
            <%= Translator.trans('open_orchestra_backoffice.node.tree.close') %>
        </a>
        <a href="#" class="btn btn-border btn-open">
            <%= Translator.trans('open_orchestra_backoffice.node.tree.open') %>
        </a>
    </div>

    <div class="legend-panel panel">
        <div class="panel-heading">Légende</div>
        <div class="panel-body">
            <ul class="state">
                <li class="state-blue">Brouillon</li>
                <li class="state-orange">A traduire</li>
                <li class="state-red">A publier</li>
                <li class="state-green">En ligne</li>
                <li class="state-grey">Hors ligne</li>
                <li class="out-of-bounds">Hors périmètre</li>
            </ul>
        </div>
    </div>

    <ul class="root-level">
        <% _.each(nodesTree, function(nodeTree, key) { %>
            <%= renderTemplate('Node/nodeElementTreeView', {renderTemplate: renderTemplate, nodeTree: nodeTree}) %>
        <% }); %>
    </ul>
</div>
