<li data-node-id="<%- nodeTree.get('node').get('node_id') %>" <% if (true === nodeTree.get('node').get('rights').can_edit) {%> class="sortable-node"<% }%> >
    <div>
        <p class="tree-icon">
            <% if (true === nodeTree.get('node').get('rights').can_edit) {%>
                <i class="fa fa-arrows sortable-handler" aria-hidden="true"></i>
            <% }; %>
            <% if ( 0 !== nodeTree.get('children').length) { %>
                <i class="fa fa-chevron-down toggle-tree" aria-hidden="true"></i>
            <% }; %>
        </p>
        <span><%- nodeTree.get('node').get('name') %></span>
        <% if (true === nodeTree.get('node').get('rights').can_read) {%>
            <i class="state workflow-<%- nodeTree.get('node').get('status').get('code_color') %>" aria-hidden="true"></i>
            <div class="links">
                <a href="#<%- Backbone.history.generateUrl('editNode', {
                    language: nodeTree.get('node').get('language'),
                    nodeId: nodeTree.get('node').get('node_id'),
                    version: nodeTree.get('node').get('version')
                }) %>">
                    <%- Translator.trans('open_orchestra_backoffice.node.parameterize') %>
                </a>
                <a href="#<%- Backbone.history.generateUrl('showNode', {
                    language: nodeTree.get('node').get('language'),
                    nodeId: nodeTree.get('node').get('node_id'),
                    version: nodeTree.get('node').get('version')
                }) %>">
                    <%- Translator.trans('open_orchestra_backoffice.node.edit') %>
                </a>
                <% if (true === nodeTree.get('node').get('rights').can_create) {%>
                    <% if ( 0 !== nodeTree.get('children').length) { %>
                        <a href="#<%- Backbone.history.generateUrl('newTreeNode', {
                                language: nodeTree.get('node').get('language'),
                                parentId: nodeTree.get('node').get('node_id')
                            })
                        %>">
                    <% } else {%>
                        <a href="#<%- Backbone.history.generateUrl('newNode', {
                            language: nodeTree.get('node').get('language'),
                            parentId: nodeTree.get('node').get('node_id'),
                            order: 1
                            })
                        %>">
                    <% }%>
                        <%- Translator.trans('open_orchestra_backoffice.node.add') %>
                    </a>
                <% }%>
            </div>
        <% } else {%>
            <i class="state out-of-bounds" aria-hidden="true"></i>
        <% } %>
    </div>
    <% if ( 'page' === nodeTree.get('node').get('node_type')) { %>
        <ul class="children <% if (true === nodeTree.get('node').get('rights').can_edit) {%> sortable-container<% }%>">
            <% _.each(nodeTree.get('children'), function(nodeTree, key) { %>
                <%= renderTemplate('Node/nodeElementTreeView', {renderTemplate: renderTemplate, nodeTree: nodeTree}) %>
            <% }); %>
        </ul>
    <% } %>
</li>
