                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>

    </div>

    <!-- end row -->

</section>
<!-- end widget grid -->
