<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark">
            <i id="title-logo" ></i>
            <span id="title-universe" ></span>
            <span id="title-functionnality"></span>
        </h1>
    </div>
</div>

<!-- widget grid -->
<section id="widget-grid" class="widget-grid">

    <!-- row -->
    <div class="row">
        <article class="col-sm-12">
            <!-- new widget -->
            <div id="wid-id-1"
                class="jarviswidget jarviswidget-color-blueDark"
                data-widget-deletebutton="false"
                data-widget-togglebutton="false"
                data-widget-editbutton="false"
                data-widget-sortable="false"
                data-widget-colorbutton="false"
            >

                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->

                <header>
                    <div class="js-widget-title display-inline"></div>
                    <div class="widget-toolbar" style="display: none"></div>
                </header>
                <!-- widget div-->
                <div>
                    <div class="js-widget-blockpanel"></div>

                    <div class="widget-body">
                        <!-- content goes here -->
