<span class="display-block-icon-font">
    <i class="fa fa-play-circle block-icon"></i>
    <strong>
        {{ 'php_orchestra_backoffice.block.dailymotion.title' | trans }}
    </strong>
    <p>
        {{ 'php_orchestra_backoffice.block.dailymotion.description' | trans }}
    </p>
</span>
