<li class="ui-model-areas <%= displayClass %>" id="area-<%= cid %>">
    <div>
        <span class="preview"></span>
            <span class="action">
                <i class="fa fa-wrench area-param-<%= area.cid %>"></i>
            </span>
        <ul class="ui-model-areas areas-<%= cid %>"></ul>
        <ul class="ui-model-blocks blocks-<%= cid %> resizable-<%= cid %>"></ul>
        <span class="delete-confirm-txt-<%= cid %>" style="display: none">{{ 'php_orchestra_backoffice.areas.delete'|trans }}</span>
    </div>
</li>
