<% if (typeof listUrl != 'undefined') { %>
<a
    href="#<%= listUrl %>"
    class="btn btn-primary pull-right back-to-list">
    {{ 'open_orchestra_backoffice.global.back_to_list'|trans }}
</a>
<% } %>
