<% if (typeof listUrl != 'undefined' && listUrl != false) { %>
    <a
        href="#<%= listUrl %>"
        class="btn btn-default pull-right back-to-list btn-in-ribbon">
        {{ 'open_orchestra_backoffice.global.back_to_list'|trans }}
    </a>
<% } %>
