<li id="draggable" class="ui-model-blocks <%= displayClass %>">
    <div class="<%= block.get('method') %>" data-node-id="<%= block.get('node_id') %>" data-block-id="<%= block.get('block_id') %>">
        <span class="title"><%= block.get('ui_model').label %></span>
        <div class="preview block-param-<%= cid %>">
            <%= block.get('ui_model').html %>
        </div>
        <span class="action">
            <i class="block-remove-<%= areaCid %> fa fa-trash-o"></i>
        </span>
    </div>
</li>
