<% if (typeof published != 'undefined') { %>
    <li class="ui-model-block  <% if ('generate' == block.get('method'))  { %>bg-orchestra-orange<% } else { %>bg-orchestra-blue<% } %>"
        data-delete-confirm-question="{{ 'open_orchestra_backoffice.block.delete_question'|trans }}"
        data-delete-confirm-explanation="{{ 'open_orchestra_backoffice.block.delete_explanation'|trans }}">
        <div class="toolbar-container">
            <div class="toolbar">
            <% if (published) { %>
                <span class="tool block-title bg-color-blueDark"><%= block.get('ui_model').label %></span>
                <% if ('generate' == block.get('method')) { %>
                <span class="tool block-param bg-color-blueDark">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </span>
                <% } %>
            <% } else { %>
                <span class="tool move-tool bg-color-blueDark">
                    <i class="glyphicon glyphicon-move"></i>
                </span>
                <span class="tool block-title bg-color-blueDark"><%= block.get('ui_model').label %></span>
                <% if ('generate' == block.get('method')) { %>
                <span class="tool block-param bg-color-blueDark">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <% } %>
                <span class="tool move-trash bg-color-blueDark">
                    <i class="block-remove glyphicon glyphicon-trash"></i>
                </span>
            <% } %>
            </div>
        </div>
        <div class="block-content
<% } else { %>
    <li class="block newly-inserted">
        <div class="panel-block
<% } %>
    <%= block.get('method') %> <% if ('generate' == block.get('method'))  { %>bg-orchestra-orange<% } else { %>bg-orchestra-blue<% } %>" data-node-id="<%= block.get('node_id') %>" data-block-id="<%= block.get('block_id') %>" data-block-type="<%= block.get('component') %>">
            <div class="preview">
                <%= block.get('ui_model').html %>
            </div>
        </div>
    </li>
