<li id="draggable" class="ui-model-blocks <%= displayClass %>">
    <div class="toolbar-layer">
        <div class="toolbar">
            <span class="tool"><i class="glyphicon glyphicon-move"></i></span><span class="tool"><%= block.get('ui_model').label %></span><% if ('generate' == block.get('method')) { %><span class="tool block-param-<%= cid %>"><i class="glyphicon glyphicon-pencil"></i></span><% } %><span class="tool"><i class="block-remove-<%= areaCid %> glyphicon glyphicon-trash"></i></span>
        </div>
    </div>
    <div class="<%= block.get('method') %>" data-node-id="<%= block.get('node_id') %>" data-block-id="<%= block.get('block_id') %>">
        <div class="preview">
            <%= block.get('ui_model').html %>
        </div>
    </div>
</li>
