<button class="ajax-delete btn btn-labeled btn-danger"
    data-delete-url="<%= deleteUrl%>"
    data-confirm-text="<%= confirmText%>"
    data-confirm-title="<%= confirmTitle%>"
    <% if (typeof redirectUrl != 'undefined') { %>
    data-redirect-url="<%= redirectUrl%>"
    <% } %>>
    <span class="btn-label">
        <i class="glyphicon glyphicon-trash"></i>
    </span>
    Delete
</button>
