<div class="flashbag">
    <% if (typeof error != 'undefined') { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>
    <% if (typeof html != 'undefined') { %>
        <%= html %>
    <% } %>
</div>
