{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<% if (typeof multiLanguage != 'undefined') { %>
    <ul id="entity-languages" class="nav nav-tabs">
    </ul>
<% } %>

<% if (typeof duplicate != 'undefined') { %>
    <span id="entity-duplicate" data-text="{{ ('open_orchestra_backoffice.element.version.create') | trans({}, 'messages', language) }}"></span>
<% } %>

<% if (typeof multiVersion != 'undefined') { %>
    <div id="additionalContent" class="smart-form">
        <label class="select">
            <div id="version-selectbox"/>
            <i></i>
        </label>
    </div>
<% } %>

<div role="container" class="formCreation"
<% if (typeof type != 'undefined' && type == "listableCreation") { %>
data-type="listableCreation"
<% } %>
>
    <%= html %>
    {% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/backToList.html.twig' %}
</div>

{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
