{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<% if (typeof multiLanguage != 'undefined') { %>
    <ul id="entity-languages" class="nav nav-tabs">
    </ul>
<% } %>

<% if (typeof title != 'undefined') { %>
<div class="hidden-info" id="generated-title">
    <%= title %>
</div>
<% } %>

<% if (typeof duplicate != 'undefined') { %>
    <a id="btn-new-version" class="btn btn-info" target="_blank">
        <i class="glyphicon glyphicon-pencil"></i>
        {{ ('php_orchestra_backoffice.element.version.create') | trans({}, 'messages', language) }}
    </a>
<% } %>

<div role="container">
    <%= html %>
    {% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/backToList.html.twig' %}
</div>

{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
