<div class="figure superbox-list">
<% if (media.get('displayed_image') != 'undefined') { %>
    <img
        src="<%= media.get('displayed_image') %>"
        data-img="<%= media.get('displayed_image') %>"
        class="superbox-img selectable superbox-img-<%= cid %>"
        data-id="<%= media.get('id') %>"
        title="<%= media.get('name') %>"
        alt="<%= media.get('name') %>"
        height="117px"
        />
<% } else if (media.get('mime_type') == 'application/pdf') { %>
    {% image '@PHPOrchestraBackofficeBundle/Resources/public/images/mediatheque/ico-pdf.png' %}
        <img src="{{ asset_url }}" class="superbox-img selectable" data-id="<%= media.get('id') %>" title="<%= media.get('name') %>"/>
    {% endimage %}
<% } else { %>
    {% image '@PHPOrchestraBackofficeBundle/Resources/public/images/mediatheque/ico-content.png' %}
        <img src="{{ asset_url }}" class="superbox-img selectable" data-id="<%= media.get('id') %>" title="<%= media.get('name') %>"/>
    {% endimage %}
<% } %>
    <div class="caption" style="display: none">
        <span class='title'> <%= media.get('name') %> </span>
        <span class="tool <%= mediaClass %>"><i class='fa <%= mediaLogo %>'></i></span>
    </div>
</div>
