<div class="col-md-1">
    <label class="toggle display-normal">
        <input class="value-holder" type="checkbox" value="<%= role.name %>">
        <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
    </label>
</div>
