<div class="grid-stack-item"
    data-id="<%= area.get('area_id') %>"
    data-gs-x="<%= area.get('x') %>"
    data-gs-y="<%= area.get('y') %>"
    data-gs-width="<%= area.get('width') %>"
    data-gs-height="<%= area.get('height') %>"
    data-delete-confirm-question="{{ 'open_orchestra_backoffice.areas.delete_question'|trans }}"
    data-delete-confirm-explanation="{{ 'open_orchestra_backoffice.areas.delete_explanation'|trans }}"
    data-delete-error-title="{{ 'open_orchestra_backoffice.areas.delete_error_title'|trans }}"
    data-delete-error-txt="{{ 'open_orchestra_backoffice.areas.delete_error_txt'|trans }}">
    <div class="grid-stack-item-content">
        <div class="area-toolbar toolbar-container">
            <div class="toolbar">
                <span class="title tool"><%= area.get('ui_model').label %></span>
            <% if (published) { %>
                <span class="tool area-param">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </span>
            <% } else { %>
                <span class="tool area-param">
                    <i class="glyphicon glyphicon-pencil"></i>
                </span>
                <span class="tool area-remove">
                    <i class="glyphicon glyphicon-trash"></i>
                </span>
            <% } %>
            </div>
        </div>
    </div>
</div>