<li data-title="{{ 'open_orchestra_backoffice.form.group.node_role_edition'|trans }}">
    <div class="col-lg-3">
        <em class="fa open"></em>
        <%= node.name %>
    </div>
    <div class="col-lg-9">
        <div class="form-input smart-form"></div>
    </div>
    <ul class="child-node"></ul>
</li>
