<div class="col-lg-12">
    <div class="col-lg-3">{{ 'open_orchestra_backoffice.form.group.page_list'|trans }}</div>
    <div class="col-lg-9 head-element"></div>
</div>
<ul data-title="{{ 'open_orchestra_backoffice.form.group.node_role_edition'|trans }}">
</ul>
