{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<div id="droppable" class="widget-trash-block demo-icon-font ui-widget-content" style="display: none">
    <i class="fa fa-trash-o">
    </i>
</div>
<ul id="node-languages" class="nav nav-tabs">
</ul>
<div id="preview"></div>
<% if (node.get('node_type') == 'page') { %>
    <a id="btn-new-version" class="btn btn-info" target="_blank">
        <i class="glyphicon glyphicon-pencil"></i>
        {{ ('php_orchestra_backoffice.node.version.create') | trans({}, 'messages', language) }}
    </a>
<% } %>
<div id="additionalContent" class="smart-form">
    <% if (node.get('node_type') == 'page') { %>
        <label class="select">
            <select id="selectbox">
                <optgroup id="versions"></optgroup>
            </select>
            <i></i>
        </label>
    <% } %>
</div>
<div id="generated-title">
    <%= title %>
</div>
<div id="generated-panel">
    <div class="header">
        <i class="fa fa-arrow-circle-left"></i>
        <h2>{{ ('php_orchestra_backoffice.node.blocks') | trans({}, 'messages', language) }}</h2>
    </div>
    <div class="ui-model scroll panel-shadow">
        <ul class="ui-model-blocks rigth-panel-blocks">
            {{ render(controller('PHPOrchestraBackofficeBundle:Block:listPossibleBlocks')) }}
        </ul>
    </div>
</div>
<span class="delete-confirm-txt-<%= node.cid %>" style="display: none">{{ 'php_orchestra_backoffice.node.delete'|trans }}</span>
<div role="container">
    <div class="ui-model">
        <div class="toolbar">
            <i class="fa fa-eye-slash hide-areas"></i><i class="fa fa-eye show-areas"></i><i class="fa fa-cog <%= node.cid %>"></i>
        </div>
        <ul class="ui-model-areas">
        </ul>
    </div>
</div>

{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
