{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<ul id="node-languages" class="nav nav-tabs">
</ul>
<div id="preview"></div>
<div id="additionalContent" class="smart-form" style="margin-bottom: 15px">
    <label class="select">
        <select id="selectbox">
            <optgroup id="versions"></optgroup>
            <optgroup id="duplicate">
                <option class="ajax-node-duplicate-<%= node.cid %>">{{ ('php_orchestra_backoffice.node.version.create') | trans({}, 'messages', language) }}</option>
            </optgroup>
        </select>
        <i></i>
    </label>
</div>
<div id="generated-title" style="display: none">
    <%= title %>
</div>
<div id="generated-panel" style="display: none">
    <div class="header">
        <i class="fa fa-arrow-circle-left"></i>
        <h2>Blocks</h2>
    </div>
    <div class="ui-model scroll panel-shadow">
        <ul class="ui-model-blocks rigth-panel-blocks">
            {{ render(controller('PHPOrchestraBackofficeBundle:Block:listPossibleBlocks')) }}
        </ul>
    </div>
</div>
<span class="delete-confirm-txt-<%= node.cid %>" style="display: none">{{ 'php_orchestra_backoffice.node.delete'|trans }}</span>
<div role="container">
    <div class="ui-model">
        <span class="title"></span>
        <span class="preview"></span>
            <span class="action">
                <i class="fa fa-cog <%= node.cid %>"></i>
            </span>
        <ul class="ui-model-areas">
        </ul>
    </div>
</div>

{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
