<span rel="tooltip" data-placement="top" data-original-title="
{{ 'php_orchestra_backoffice.node.last_update.at'| trans }}
<%= node.get('updated_at') %>
{{ 'php_orchestra_backoffice.node.last_update.by'| trans }}
<% if (node.get('updated_by') !== undefined ) { %>
    <%= node.get('updated_by') %>
<% } else { %>
    anonymous
<% } %>
">
    <%= node.get('name') %>
    ({{ 'php_orchestra_backoffice.node.version.display' | trans }} : #<%= node.get('version') %>)
</span>
