<div id="node"
    data-delete-confirm-txt="{{ 'open_orchestra_backoffice.node.delete.text'|trans }}"
    data-delete-confirm-title="{{ 'open_orchestra_backoffice.node.delete.title'|trans }}">
{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}
    <ul id="entity-languages" class="nav nav-tabs">
    </ul>
    <div id="preview"></div>
    <span id="entity-duplicate" data-text="{{ ('open_orchestra_backoffice.node.version.create') | trans({}, 'messages', language) }}"></span>
    <% if (typeof(node.attributes.links._self_version) !== "undefined") { %>
        <div id="additionalContent" class="smart-form">
            <label class="select">
                <select id="version-selectbox"></select>
                <i></i>
            </label>
        </div>
    <% } %>
    <div role="container">
        <div class="ui-model bg-color-blueLight">
            <div class="toolbar">
                <i class="fa fa-eye-slash hide-areas"></i><i class="fa fa-eye show-areas"></i>
            </div>
            <ul class="ui-model-areas">
            </ul>
        </div>
    </div>
{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
</div>
