<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header clearfix">
            <button type="button" class="btn btn-success" data-dismiss="modal">
                {{ ('open_orchestra_backoffice.modal.close') | trans() }}
            </button>
            <% if (typeof actionButtons != 'undefined') { %>
            <%= actionButtons %>
            <% } %>
            <h4 class="modal-title" id="OrchestraBOModalLabel"><%= title %></h4>
        </div>
        <div class="modal-body"><%= html %></div>
    </div>
</div>
