<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">{{ ('open_orchestra_backoffice.modal.close') | trans() }}</span>
            </button>
            <% if (typeof actionButtons != 'undefined') { %>
            <%= actionButtons %>
            <% } %>
            <h4 class="modal-title" id="OrchestraBOModalLabel"><%= title %></h4>
        </div>
        <div class="modal-body"><%= html %></div>
    </div>
</div>
