{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<div>
    <ul class="nav nav-tabs" role="tablist" id="superboxTab">
        <li class="active">
            <a href="#tab-crop" role="tab" data-toggle="tab">{{ 'php_orchestra_backoffice.media.crop'|trans }}</a>
        </li>
        <li>
            <a href="#tab-meta" role="tab" data-toggle="tab">{{ 'php_orchestra_backoffice.media.meta'|trans }}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab-crop">

            <!-- ORIGINAL IMAGE -->
            <div id="original-image">
                <img src="<%= media.get('displayed_image') %>" class="superbox-current-img"/>
            </div>

            <!-- CROP SLECTOR  -->
            <div class="media_crop_form"></div>

            <!-- CROPPED VERSION IN USAGE -->
            <div class="media_crop_preview form-group">
                <label class="control-label col-lg-3">{{ 'php_orchestra_backoffice.media.current_preview'|trans }}</label/>
            </div>

            <!-- UPLOAD ALTERNATIVE CROPPED VERSION -->
            <div class="media-override-format-form"></div>

        </div>
        <div class="tab-pane" id="tab-meta">
            <div class="media_meta_form"></div>
        </div>
    </div>

    {% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/backToList.html.twig' %}
</div>

{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
