{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<ul class="nav nav-tabs" role="tablist" id="superboxTab">
    <li class="active">
        <a href="#tab-crop" role="tab" data-toggle="tab">crop</a>
    </li>
    <li>
        <a href="#tab-meta" role="tab" data-toggle="tab">meta</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="tab-crop">
        <img src="<%= media.get('displayed_image') %>" class="superbox-current-img"/>
        <div class="media_crop_preview">
            <h3>{{ 'php_orchestra_backoffice.media.current_preview'|trans }}</h3>
        </div>
        <div class="media_crop_form"></div>
    </div>
    <div class="tab-pane" id="tab-meta">
        <div class="media_meta_form"></div>
    </div>
</div>

{% include 'PHPOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
