<% if (typeof links !== 'undefined' && typeof links._self_add !== 'undefined' ) { %>
<div>
    <a href="<%= links._self_add %>" data-url="<%= links._self_add %>" class="btn btn-success ajax-add bh-button-add">{{ 'open_orchestra_backoffice.form.add'|trans({}, 'messages', language) }}</a>
</div>
<% } %>
