{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<div role="container">
    <table id="tableviewCollectionTable">
        <thead>
            <tr>
                <% _.each(displayedElements, function(displayedElement) { %>
                  <td><input type="text" placeholder="Search <%= displayedElement %>" ></td>
                <% }); %>
                <td></td>
            </tr>
            <tr>
                <% _.each(displayedElements, function(displayedElement) { %>
                    <td><%= displayedElement %></td>
                <% }); %>
                <td></td>
            </tr>
            </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
