<% if (currentLanguage == language) { %>
    <li class="active">
        <a href="#" class="change-language">
<% } else { %>
    <li>
        <a href="#" class="change-language" data-language="<%= language %>">
<% }%>
        <img
            src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/blank.gif') }}"
            class="flag flag-<%= language %>"
            alt="flag-<%= language %>"
        >
        <%= language %>
    </a>
</li>
