<div class="widget-toolbar">
    <a href="<%= previewLink %>" target="_blank" class="btn btn-info">
        <i class="fa fa-eye"></i>
        {{ 'php_orchestra_backoffice.node.preview'|trans({}, 'messages', language) }}
    </a>
</div>
