<div class="widget-toolbar">
    <span class="btn btn-primary <%= cid %>">
        <i class="fa fa-cog"></i>
        {{ 'php_orchestra_backoffice.node.configuration'|trans({}, 'messages', language) }}
    </span>
</div>
