<div class="block-icon-font">
    <i class="fa fa-list-ul block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.sub_menu.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.sub_menu.description' | trans }}
    </p>
</div>
