<span class="display-block-icon-font">
    <i class="fa fa-list-ul block-icon"></i>
    <strong>
        {{ 'php_orchestra_backoffice.block.sub_menu.title' | trans }}
    </strong>
    <p>
        {{ 'php_orchestra_backoffice.block.sub_menu.description' | trans }}
    </p>
</span>
