#content div.panel-activate {
    padding-right: 220px;
}

.panel-shadow {
  -moz-box-shadow: -11px 12px 23px #aaa; 
  -webkit-box-shadow: -11px 12px 23px #aaa; 
  box-shadow: -11px 12px 23px #555; 
}

div.panel-block {
    background-color:#EEEEEE;
    span.action {
        display: none;
    }
}

.ui-model div.panel-block div.preview {
  overflow: hidden;
  background-color: #eeeeee;
  min-width: 0;
  min-height: 0;
}

.js-widget-blockpanel {
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;
    h2 {
        position: relative;
        top: 32px;
        margin:0;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        writing-mode: lr-tb;
    }
    i.fa-arrow-circle-left {
        font-size: 17px;
    }
    .header{
        background: none repeat scroll 0 0 #454545;
        border-bottom: 1px solid #302f2f;
        border-radius: 5px 0 0 5px;
        color: #a8a8a8;
        cursor: pointer;
        position: relative;
        text-align: center;
        top: 2px;
        width: 24px;
        height: 80px;
        z-index: 2;
    }
    li, li div.panel-block {
        height: 40px;
    }
    li.hover, li.hover div.panel-block {
        height: auto;
    }
    .ui-model {
        display:none;
    }
    .ui-model div.preview {
        height: 38px;
        max-height: 38px;
        min-height: 38px;
    }
    .ui-model li.hover div.preview {
        height: auto;
        max-height: 200px;
        min-height: 38px;
    }
}

.js-widget-blockpanel.activate {
    right: 188px;
    i.fa-arrow-circle-left:before {
        content: "\f0a9";
    }
    .header{
        left: -24px;
    }
    .ui-model {
        display: block;
        height: auto;
        margin-right: -65px;
        max-height: 100%;
        position: absolute;
        top: 2px;
        width: 212px;
        z-index: 1;
    }
}
