#widget-grid .submit_form,
#widget-grid .submit_form:active,
#widget-grid .back-to-list,
#widget-grid .back-to-list:active,
#widget-grid .bh-button-add,
#widget-grid .bh-button-add:active{
    width: 119px;
}
#widget-grid .back-to-list {
    /*margin-bottom: 20px;*/
    position: fixed;
    top: 54px;
    right: 15%;
    z-index: 901;
}
#widget-grid .back-to-list:active,
#widget-grid .submit_form:active,
#widget-grid .bh-button-add:active {
    position: fixed;
    top: 54px;
    left: 75.7%;
    z-index: 901;
}
#widget-grid .submit_form:active,
#widget-grid .bh-button-add:active {
    left: 85.7%;
}
#widget-grid .submit_form,
#widget-grid .bh-button-add{
    position: fixed;
    top: 54px;
    right: 5%;
    z-index: 901;
}
#widget-grid .bh-button-add,
#widget-grid .submit_form,
#widget-grid .back-to-list{
    top: 54px !important;
}
#widget-grid .modal-upload .back-to-list {
    top: 17px !important;
    right: 5%;
}
#widget-grid .modal-upload .back-to-list:active {
    left: 80.1% !important;
}
#jarviswidget-fullscreen-mode .bh-button-add,
#jarviswidget-fullscreen-mode .submit_form,
#jarviswidget-fullscreen-mode .back-to-list{
    top: 2px !important;
}
.tableviewCollectionTable {

    tbody tr td:last-child {
        text-align: center;
        white-space: nowrap;
    }
}

