#template {
    .jarviswidget, div[role="content"], .widget-body, .grid-stack{
        background-color: #92a2a8;
        margin: 0;
    }
    .jarviswidget, div[role="content"], .grid-stack{
        background-clip: content-box;
    }
}
.grid-stack-item-content {
    background: white none repeat scroll 0 0;
    color: #92a2a8;
    border-radius: 10px;
    text-align: center;
}
.grid-stack .ui-icon-gripsmall-diagonal-se {
    background-position: 2000px 2000px;
}
