#tab-node_tree, #tab-media_folder_tree {

  .header-role-list {
    margin-bottom: 10px;
  }

  .content-document-list {
    li div.row {
      padding-bottom: 5px;

      select.form-control{
        padding: 0 2px;
      }
    }
    
    .list-document-name {
      overflow: hidden;
      padding-top: 7px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // second level
    .child-document {
      .list-document-name {
        padding-left: 25px;
      }

      // Third Level
      .child-document {
        .list-document-name {
          padding-left: 50px;
        }

        // Fourth Level
        .child-document {
          .list-document-name {
            padding-left: 75px;
          }

          // Fifth Level
          .child-document {
            .list-document-name {
              padding-left: 100px;
            }
          }
        }
      }
    }
  }
}
