#tab-node_tree {

  .header-role-list {
    margin-bottom: 10px;
  }

  .content-node-list {
    li div.row {
      padding-bottom: 5px;

      select.form-control{
        padding: 0 2px;
      }
    }

    // second level
    .child-node {
      .list-page-node-name {
        padding-left: 25px;
      }

      // Third Level
      .child-node {
        .list-page-node-name {
          padding-left: 50px;
        }

        // Fourth Level
        .child-node {
          .list-page-node-name {
            padding-left: 75px;
          }

          // Fifth Level
          .child-node {
            .list-page-node-name {
              padding-left: 100px;
            }
          }
        }
      }
    }
  }
}
