/****** GENERAL *****/

//Background
.bg-orchestra-blue {
  background-color: #005796;
}

.bg-orchestra-orange {
  background-color: #e5590c;
}
//lists
ul, li {
  list-style-type: none;
  margin: 0;
  border: 0;
  padding: 0;
}
//version open orchestra
.oo-version {
  color: #BFBFBF;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 1px white;
}
//version container
.oo-version-container{
  position: relative;
  .oo-version {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#dynamic-modal-title {
    display: none;
}

.page_status_title {
    text-transform: uppercase;
}

.hidden-info {
    display: none;
}

.select2-drop {
    z-index: 100010;
}

input[type=date].datepicker::-webkit-inner-spin-button, input[type=date].datepicker::-webkit-calendar-picker-indicator {
  display: none;
}

.btn.btn-ribbon.refresh-form {
	float: right;
	margin-left: 10px;
}
