.role-table {
    border-collapse: collapse;
    display: table;
    table-layout: fixed;
    .role-row {
        display: table-row;
        .role-cell {
            display: table-cell;
            margin: 2px;
            .role-title {
                position: relative;
                min-width: 170px;
            }
        }
    }
}
