<div class="panel panel-default">
    <div class="panel-heading"><%= Translator.trans(title) %></div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th><%= Translator.trans('open_orchestra_backoffice.dashboard.widget.list.name') %></th>
            <th><%= Translator.trans('open_orchestra_backoffice.dashboard.widget.list.language') %></th>
            <th><%= Translator.trans('open_orchestra_backoffice.dashboard.widget.list.date') %></th>
        </tr>
        </thead>
        <tbody>
       <% if (_.isEmpty(entities)) { %>
            <tr>
                <td class="text-center" colspan="4" >
                    <%= Translator.trans('open_orchestra_backoffice.dashboard.widget.list.no_entities') %>
                </td>
            </tr>
        <% } else { %>
            <% _.each(entities, function(entity, key) { %>
                <tr>
                    <td><a href='<%= editLink %>'><%= entity.get('name') %></a></td>
                    <td><%= entity.get('language')  %></td>
                    <td><%= entity.get('updated_at')  %></td>
                </tr>
            <% }); %>
        <% } %>
        </tbody>
    </table>
</div>
