                <div class="blocks-panel">
                    <span id="blocks-panel-setting">
                        <i class="fa fa-cog txt-color-blueDark">
                        </i>
                    </span>
                    <h2>Blocks</h2>
                </div>
