                <div class="blocks-panel">
                    <span id="blocks-panel-setting">
                        <i class="fa fa-arrow-circle-left"></i>
                    </span>
                    <h2>Blocks</h2>
                    <div class="ui-model scroll padding-10">
                        <ul class="ui-model-blocks">
                            {{ render(controller('PHPOrchestraBackofficeBundle:Block:listPossibleBlocks')) }}
                            {{ render(controller('PHPOrchestraBackofficeBundle:Block:listExistingBlocks')) }}
                        </ul>
                    </div>
                </div>
