<ul class="ui-model-blocks resizable-view20 ui-sortable">
    {% for block in blocks %}
        <li class="ui-model-blocks block" style="height: 40px;">
            <div class="generate" data-block-type="{{ block }}">
                <span class="title">{{ block }}</span>
            </div>
            <div class="preview"> </div>
            <span class="action">
                <i class="block-param fa fa-wrench"></i>
                <i class="block-remove fa fa-trash-o"></i>
            </span>
        </li>
    {% endfor %}
</ul>
