<div class="hidden-info" id="contextual-informations"
    data-current-language="{{ context.currentLocale }}"
    data-template-url-pattern="{{ path('open_orchestra_backoffice_underscore_template_show') }}"
    data-datatable-translation-url-pattern="{{ path('open_orchestra_api_datatable_translation') }}"
    data-translation-url-pattern="{{ path('open_orchestra_api_translation', {'domain': '*domain*'}) }}"
></div>
