<div class="hidden-info" id="contextual-informations"
    data-current-language="{{ context.currentLocale }}"
    data-template-url-pattern="{{
        path('open_orchestra_backoffice_underscore_template_show',
        {'language': ':language', 'templateId': ':templateId'}
    )}}"
></div>
