                <div class="demo">
                    <span id="demo-setting">
                        <i class="fa fa-cog txt-color-blueDark">
                        </i>
                    </span>
                    <h2>Blocks</h2>
                </div>
