<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    {% include 'OpenOrchestraBackofficeBundle:BackOffice/Include/LeftPanel:userInfo.html.twig' %}

    {{ left_panel() }}
    <span class="minifyme" data-action="minifyMenu"> 
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->
