<!-- Left panel : Navigation area -->
<aside id="left-panel">

    {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include:userInfo.html.twig' %}

    {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include:navigation.html.twig' %}

    <span class="minifyme">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->
