<!-- MAIN PANEL -->
<div id="main" role="main">

    {% include 'PHPOrchestraBackofficeBundle:BackOffice/Include:ribbon.html.twig' %}

    <!-- MAIN CONTENT -->
    <div id="content"></div>
    <!-- END MAIN CONTENT -->

    {% include 'PHPOrchestraBackofficeBundle:Editorial:backboneTemplate.html.twig' %}

</div>
