<!-- User info -->
<div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it --> 
        <img src="{{ asset('bundles/phporchestracms/img/avatars/male.png') }}" alt="me" class="online" /> 
        <a href="javascript:void(0);" id="show-shortcut">
            {{ app.user }} <i class="fa fa-angle-down"></i>
        </a> 
    </span>
</div>
<!-- end user info -->
