<a href="#" title="{{ ('open_orchestra_backoffice.left_menu.administration.title')|trans }}">
    <i class="fa fa-lg fa-fw fa-desktop"></i>
    <span class="menu-item-parent">{{ ('open_orchestra_backoffice.left_menu.administration.title')|trans }}</span>
</a>
