<li>
    <a
        href="#dashboard"
        title="{{ ('open_orchestra_backoffice.left_menu.dashboard.title')|trans }}"
        id="nav-dashboard"
    >
        <i class="fa fa-lg fa-fw fa-home"></i>
        <span class="menu-item-parent">{{ ('open_orchestra_backoffice.left_menu.dashboard.title')|trans }}</span>
    </a>
</li>
