<td data-column="<%=  column %>" rowspan="1" colspan="1">
    <label class="select">
        <select class="form-control search-column">
            <option value=""></option>
            <option value="1">True</option>
            <option value="0">False</option>
        </select>
        <i></i>
    </label>
</td>