<nav data-url="{{ path('open_orchestra_backoffice_menu') }}">
    <ul>
        {% for rootMenuWeights in strategies[navigation_panel.root_menu] %}
            {% for rootMenu in rootMenuWeights %}
                <li>
                    {{ rootMenu.show|raw }}
                    {% if strategies[rootMenu.name] is defined %}
                        <ul>
                            {% for subMenuWeights in strategies[rootMenu.name] %}
                                {% for subMenu in subMenuWeights %}
                                    {% if is_granted(subMenu.getRole) %}
                                        <li>
                                            {{ subMenu.show|raw }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</nav>
