<!-- User info -->
<div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it -->

        <a
            href="#user/edit"
            id="user-account"
            data-user-url="{{ path('open_orchestra_user_admin_user_self_form') }}"
            data-password-url="{{ path('open_orchestra_user_admin_user_self_change_password') }}"
        >
            <img src="{{ asset('bundles/openorchestrabackoffice/smartadmin/img/avatars/male.png') }}" alt="me" class="online" />
            <span>
                {{ app.user }}
            </span>
            {#<i class="fa fa-angle-down"></i>#}
        </a>

    </span>
</div>
<!-- end user info -->
