{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<div role="container" class="tableviewCollectionTable">
<div class="dataTables_processing"><i class="fa fa-cog fa-spin"></i> Loading...</div>
<table id="tableviewCollectionTable" class="table table-striped table-bordered table-hover smart-form dataTable">
        <thead>
            <tr>
                <% _.each(displayedElements, function(displayedElement) { %>
                    <th><%= displayedElement %></th>
                <% }); %>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
