<span class="display-block-icon-font">
    <i class="fa fa-file-o block-icon"></i>
    <strong>
        {{ 'open_orchestra_backoffice.block.content.title' | trans }}
    </strong>
    <p>
        {{ 'open_orchestra_backoffice.block.content.description' | trans }}
    </p>
</span>
