<div class="display-block-icon-font">
    <i class="fa fa-file-o block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.content.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.content.description' | trans }}
    </p>
</div>
