<a
        href="#log/list"
        id="nav-log"
        data-url="{{ path('open_orchestra_api_log_list') }}"
        data-order="0, desc"
        data-datatable-parameter-name="{{ datatableParameterName }}"
        title="{{ 'open_orchestra_log.left_menu.administration.logs.list'|trans }}"
        >
    {{ 'open_orchestra_log.left_menu.administration.logs.list'|trans }}
</a>
