.modal {
    z-index: 100001;
    height: 100%;
}

#OrchestraBOModal {
    .modal-dialog {
        height: 90%;
        width: 90%;

        .modal-content {
            height: 100%;

            > div {
                .submit_form {
                    display: none;
                }
            }

            > div:last-child {
                .submit_form {
                    display: block;
                }
            }

            .modal-body {
                height: calc(~"100% - 129px");
                overflow-y: scroll;
                overflow-x: hidden;
            }

            .modal-footer {
                button.submit_form {
                    float: left;
                }
            }
        }
    }
}
