.modal {
    z-index: 100001;
}

#OrchestraBOModal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                max-height:500px;
                overflow:auto;
            }
            .modal-footer {
                button.submit_form {
                    float: left;
                }
            }
        }
    }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 90%;
  }
}

#OrchestraBOModal .modal-content>div .submit_form {
    display:none;
}

#OrchestraBOModal .modal-content>div:last-child .submit_form {
    display:block;
}
