<span class="display-block-icon-font">
    <i class="fa fa-share-alt block-icon"></i>
    <strong>
        {{ 'php_orchestra_backoffice.block.addthis.title' | trans }}
    </strong>
    <p>
        {{ 'php_orchestra_backoffice.block.addthis.description' | trans }}
    </p>
</span>
