<a
    href="#fonctions/list"
    id="nav-fonctions"
    data-url="{{ path('open_orchestra_api_fonctions_list') }}"
    data-displayed-elements="name"
    title="{{ 'open_orchestra_workflow.left_menu.administration.fonction'|trans }}"
    >
    {{ 'open_orchestra_workflow.left_menu.administration.fonction'|trans }}
</a>
