<span class="display-block-icon-font">
    <i class="fa fa-file-text-o block-icon"></i>
    <strong>
        {{ 'php_orchestra_backoffice.block.configurable_content.title' | trans }}
    </strong>
    <p>
        {{ 'php_orchestra_backoffice.block.configurable_content.description' | trans }}
    </p>
</span>
