<div class="display-block-icon-font">
    <i class="fa fa-file-text-o block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.configurable_content.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.configurable_content.description' | trans }}
    </p>
</div>
