<ul data-title="{{ 'open_orchestra_backoffice.form.group.user_list'|trans }}">
    <p>liste User</p>
    <div
        class="table-container"
        data-column="first_name, last_name, email"
        data-translatedHeader="{{ 'open_orchestra_user_admin.table.first_name'|trans }}, {{ 'open_orchestra_user_admin.table.last_name'|trans }}, {{ 'open_orchestra_user_admin.table.email'|trans }}"
    >
    </div>
</ul>
