<div class="block-icon-font">
    <i class="fa fa-list-alt block-icon"></i>
    <p class="block-text">
        <strong> {{ 'open_orchestra_backoffice.block.menu.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.menu.description' | trans }}
    </p>
</div>
