{% for block in blocks %}
    <li class="ui-model-blocks block newly-inserted">
        <div class="panel-block generate" data-block-type="{{ block }}">
            <span class="title"></span>
            <div class="preview">
                {{ display_icon(block) }}
            </div>
            <span class="action">
                <i class="block-remove fa fa-trash-o"></i>
            </span>
        </div>
    </li>
{% endfor %}
