<a
        href="#api_client/list"
        id="nav-api_client"
        data-url="{{ path('open_orchestra_api_api_client_list') }}"
        data-displayed-elements="name, trusted"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.api_client.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.api_client.list'|trans }}
</a>
