<a
        href="#content_types/list"
        id="nav-content_types"
        data-url="{{ path('php_orchestra_api_content_type_list') }}"
        data-displayed-elements="content_type_id, name, version, status_label"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.content_type.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.content_type.list'|trans }}
</a>