<a
        href="#deleted/list"
        id="nav-deleted"
        data-url="{{ path('php_orchestra_api_deleted_list') }}"
        data-displayed-elements="name,type"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.deleted.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.deleted.list'|trans }}
</a>
