<a href="#">
    <span class="menu-item-parent">Error pages</span>
</a>
<ul>
    <li data-element-id="errorPage404" data-type="Node">
        <a id="nav-node-errorPage404" data-url="{{ path('open_orchestra_api_node_show_or_create', {'nodeId': 'errorPage404', 'errorPage': 404}) }}" data-node="errorPage404" href="#node/show/errorPage404">
            <span>404</span>
        </a>
    </li>
    <li data-element-id="errorPage503" data-type="Node">
        <a id="nav-node-errorPage503" data-url="{{ path('open_orchestra_api_node_show_or_create', {'nodeId': 'errorPage503', 'errorPage': 503}) }}" data-node="errorPage503" href="#node/show/errorPage503">
            <span>503</span>
        </a>
    </li>
</ul>
