<a
        href="#group/list"
        id="nav-group"
        data-url="{{ path('open_orchestra_api_group_list') }}"
        data-displayed-elements="name"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.group.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.group.list'|trans }}
</a>
