<a
        href="#keywords/list"
        id="nav-keywords"
        data-url="{{ path('php_orchestra_api_keyword_list') }}"
        data-displayed-elements="label"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.keyword.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.keyword.list'|trans }}
</a>
