<a
        href="#log/list"
        id="nav-log"
        data-url="{{ path('php_orchestra_api_log_list') }}"
        data-displayed-elements="date_time, user_ip, user_name, message"
        data-order="0, desc"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.logs.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.logs.list'|trans }}
</a>
