<a
        href="#redirection/list"
        id="nav-redirection"
        data-url="{{ path('php_orchestra_api_redirection_list') }}"
        data-displayed-elements="site_name, route_pattern, locale, redirection, permanent"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.redirection.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.redirection.list'|trans }}
</a>
