<a
        href="#role/list"
        id="nav-role"
        data-url="{{ path('php_orchestra_api_role_list') }}"
        data-displayed-elements="name, from_status, to_status"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.role.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.role.list'|trans }}
</a>
