<a
        href="#role/list"
        id="nav-role"
        data-url="{{ path('open_orchestra_api_role_list') }}"
        data-displayed-elements="name, from_status, to_status"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.role.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.role.list'|trans }}
</a>
