<a
        href="#status/list"
        id="nav-status"
        data-url="{{ path('php_orchestra_api_status_list') }}"
        data-displayed-elements="label, published, to_role, from_role, display_color, initial"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.status.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.status.list'|trans }}
</a>