<a
        href="#themes/list"
        id="nav-themes"
        data-url="{{ path('open_orchestra_api_theme_list') }}"
        data-add="{{ path('open_orchestra_backoffice_theme_new') }}"
        data-displayed-elements="name"
        title="{{ 'open_orchestra_backoffice.left_menu.administration.themes.list'|trans }}"
        >
    {{ 'open_orchestra_backoffice.left_menu.administration.themes.list'|trans }}
</a>
