<a
        href="#themes/list"
        id="nav-themes"
        data-url="{{ path('php_orchestra_api_theme_list') }}"
        data-displayed-elements="name"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.themes.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.themes.list'|trans }}
</a>