<a
        href="#user/list"
        id="nav-user"
        data-url="{{ path('php_orchestra_api_user_list') }}"
        data-displayed-elements="username, roles"
        title="{{ 'php_orchestra_backoffice.left_menu.administration.user.list'|trans }}"
        >
    {{ 'php_orchestra_backoffice.left_menu.administration.user.list'|trans }}
</a>