<a
    href="#websites/list"
    id="nav-websites"
    data-url="{{ path('php_orchestra_api_site_list') }}"
    data-displayed-elements="site_id, domain, alias, default_language"
    title="{{ 'php_orchestra_backoffice.left_menu.administration.sites.list'|trans }}"
    >
    {{ 'php_orchestra_backoffice.left_menu.administration.sites.list'|trans }}
</a>
