<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <form class="form-horizontal search-engine">
                <div class="form-group col-lg-6">
                    <label for="search" class="control-label col-md-4"><%- Translator.trans('open_orchestra_user_admin.user.search_engine.search')%></label>
                    <div class="col-md-8">
                        <input type="text" name='search' class="form-control" id="search">
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <button class="btn btn-info col-md-offset-4 submit"><%- Translator.trans('open_orchestra_backoffice.search_engine.filter')%></button>
                </div>
            </form>
        </div>
        <div class="modal-body">
            <div class="users-list">
            </div>
        </div>
        <div class="modal-footer">
            <button class="select-user btn btn-success" type="button"><%- Translator.trans('open_orchestra_user_admin.select') %></button>
        </div>
    </div>
</div>





