<span class="display-block-icon-font">
    <i class="glyphicon glyphicon-stats block-icon"></i>
    <strong>{{ 'open_orchestra_backoffice.block.audience_analysis.title' | trans }}</strong>
    <p>
        {{ 'open_orchestra_backoffice.block.audience_analysis.description' | trans }}
    </p>
</span>
