<div class="block-icon-font">
    <i class="glyphicon glyphicon-stats block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.audience_analysis.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.audience_analysis.description' | trans }}
    </p>
</div>
