<p>
    {{ 'php_orchestra_backoffice.block.audience_analysis.tag_type'|trans }} : <i>{{ 'php_orchestra_backoffice.block.audience_analysis.xiti_free'|trans }}</i><br />
    {{ 'php_orchestra_backoffice.block.audience_analysis.site_id'|trans }} : <i>{{ attributes.xiti_site }}</i>
</p>
