<span class="display-block-icon-font">
    <i class="fa fa-user block-icon"></i>
    <strong>
        {{ 'open_orchestra_backoffice.block.login.title' | trans }}
    </strong>
    <p>
        {{ 'open_orchestra_backoffice.block.login.description' | trans }}
    </p>
</span>
