<div class="panel">
    <div class="panel-heading">
        <strong><%= block.get('name') %> - <%= block.get('label') %></strong>
        <ul class="toolbar pull-right">
            <% if (false === block.get('transverse')) { %>
                <li class="edit-block" ><a href="#"><i class="fa fa-pencil"></i></a></li>
            <% } %>
            <li class="delete-block" ><a href="#"><i class="fa fa-trash"></i></a></li>
            <li class="move-block" ><a href="#"><i class="fa fa-arrows"></i></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <%= block.get('preview_content') %>
    </div>
</div>

<%= renderTemplate('Block/addBlockLink', {node: node, areaName: area.get('name'), position: position}) %>

