@import "../../theme/variables.less";


.tag.token-input-token-facebook {
    background-color: @lightGrey;
    color: #333;
}
.operator.token-input-token-facebook {

}
.operator-ok.token-input-token-facebook {
    background: #3875d7;
    color: #fff;
}
.new.token-input-token-facebook {

}
ul.token-input-list-facebook {
    height: auto!important;
    height: 1%;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;
    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
    background-image: -webkit-gradient(linear,0 0,0 100%,color-stop(1%,#eee),color-stop(15%,#fff));
    background-image: -webkit-linear-gradient(top,#eee 1%,#fff 15%);
    background-image: -moz-linear-gradient(top,#eee 1%,#fff 15%);
    background-image: linear-gradient(to bottom,#eee 1%,#fff 15%);
    min-height: 26px;
    border-radius: 4px;
    width: 100%;
    .fontSize(16px);
    .Roboto;

    li {
        .fontSize(16px);

        &.token-input-token-facebook {
            background-color: @lightGrey;
            padding: 3px 10px;
            border-radius: 5px;
            margin-right: 5px;
            border: none;
            box-shadow: none;
            line-height: inherit;

            &.disabled {
                cursor: not-allowed;
            }

            span {
                display: inline-block;
                position: relative;
                vertical-align: middle;
                color: #50577b;
            }
        }
    }
}

div.token-input-dropdown-facebook {
    .Roboto;
    .fontSize(16px);
    border-color: 1px solid #aaaaaa;

    ul {
        li {
            &:hover {
                background: #3875d7;
                color: #fff;
            }
        }
    }
}


ul.operator-list {
    padding: 0;
    margin: 5px 0 0;

    li {
        background: transparent;
        border: 2px solid #252837;
        border-radius: 5px;
        color: #252837;
        cursor: pointer;
        float: left;
        font-size: 11px;
        height: auto !important;
        margin: 3px;
        overflow: hidden;
        padding: 1px 5px;
        text-align: center;
        font-weight: 600;
    }
}
