@import "../../theme/variables.less";


.tag.token-input-token-facebook {
    background-color: @lightGrey;
    color: #333;
}
.operator.token-input-token-facebook {

}
.operator-ok.token-input-token-facebook {
    background: #3875d7;
    color: #fff;
}
.new.token-input-token-facebook {

}
ul.token-input-list-facebook {
    border-color: #cccccc;
    width: 100%;
    .fontSize(16px);

    li {
        .fontSize(16px);

        &.token-input-token-facebook {
            background-color: @lightGrey;
            padding: 3px 10px;
            border-radius: 5px;
            margin-right: 5px;
            border: none;
            box-shadow: none;
            line-height: inherit;

            &:before {
                content: "\f02b";
                font-family: 'FontAwesome';
                color: #858c9a;
                margin-right: 5px;
            }
            &.disabled {
                cursor: not-allowed;
            }

            span {
                display: inline-block;
                position: relative;
                vertical-align: middle;
                color: #50577b;
            }
        }
    }
}

.token-input-dropdown-facebook {
    li {
        .fontSize(16px);
    }
}


ul.operator-list li {
    background: transparent;
    border: 2px solid #252837;
    border-radius: 5px;
    color: #252837;
    cursor: pointer;
    float: left;
    font-size: 11px;
    height: auto !important;
    margin: 3px;
    overflow: hidden;
    padding: 1px 5px;
    text-align: center;
    font-weight: 600;
}
