<div class="figure superbox-list">
    <img
        class="superbox-img selectable"
        title="<%= media.get('name') %>"
        alt="<%= media.get('name') %>"
        height="117px"
<% if (media.get('displayed_image') != 'undefined') { %>
        src="<%= media.get('displayed_image') %>"
<% } else if (media.get('mime_type') == 'application/pdf') { %>
    {% image '@OpenOrchestraBackofficeBundle/Resources/public/images/media/ico-pdf.png' %}
        src="{{ asset_url }}"
    {% endimage %}
<% } else { %>
    {% image '@OpenOrchestraBackofficeBundle/Resources/public/images/media/ico-content.png' %}
        src="{{ asset_url }}"
    {% endimage %}
<% } %>
    />
    <div class="caption" style="display: none">
        <span class='title'> <%= media.get('name') %> </span>
        <% if (mediaClass != 'undefined' && mediaLogo != undefined) { %>
            <span class="tool <%= mediaClass %>"><i class='fa <%= mediaLogo %>'></i></span>
        <% } %>
    </div>
</div>
