{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<div role="container">
    <div class="superbox col-sm-12">
    </div>
    <span class="delete-confirm-question hidden-info">{{ 'open_orchestra_mediaadmin.media.delete_question'|trans }}</span>
    <span class="delete-confirm-explanation hidden-info">{{ 'open_orchestra_mediaadmin.media.delete_explanation'|trans }}</span>
</div>
<% if (typeof links._self_add !== 'undefined' ) { %>
    <div>
        <a href="<%= links._self_add %>" data-url="<%= links._self_add %>" class="ajax-add">{{ 'open_orchestra_backoffice.form.add'|trans({}, 'messages', language) }}</a>
    </div>
<% } %>

{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
