{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}

<div>
    <ul class="nav nav-tabs" role="tablist" id="superboxTab">
        <li class="active">
        <% if (media.get('mime_type').indexOf('image') > -1) { %>
                <a href="#tab-crop" role="tab" data-toggle="tab">{{ 'open_orchestra_media_admin.media.crop'|trans }}</a>
            </li>
            <li>
        <% } %>
            <a href="#tab-meta" role="tab" data-toggle="tab">{{ 'open_orchestra_media_admin.media.meta'|trans }}</a>
        </li>
    </ul>

    <div class="tab-content">
        <% if (media.get('mime_type').indexOf('image') > -1) { %>
            {% include 'OpenOrchestraMediaAdminBundle:BackOffice:Underscore/Include/superboxView_crop._tpl.twig' %}
        <% } %>
        {% include 'OpenOrchestraMediaAdminBundle:BackOffice:Underscore/Include/superboxView_meta._tpl.twig' %}
    </div>

    {% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/backToList.html.twig' %}
</div>

{% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
