<div
    class="widget-toolbar folder-delete"
    data-title="{{ 'open_orchestra_media_admin.form.folder.confirm_delete.title'|trans }}"
    data-text="{{ 'open_orchestra_media_admin.form.folder.confirm_delete.text'|trans }}"
    >
    <i class="fa fa-trash-o ajax-folder-delete"></i>
</div>
