<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><%= confirmTitle %></h4>
        </div>
        <div class="modal-body text-center">
            <p><%= confirmMessage %></p>
                <button class="btn btn-success">
                    <%= Translator.trans('open_orchestra_backoffice.confirm_modal.yes') %>
                </button>
                <button class="btn btn-danger" data-dismiss="modal">
                    <%= Translator.trans('open_orchestra_backoffice.confirm_modal.no') %>
                </button>
            </div>
        </div>
    </div>
</div>
