<div class="block-icon-font">
    <i class="fa fa-youtube-play block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.video.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.video.description' | trans }}
    </p>
</div>
