<a
    href="#workflowfonctions/list"
    id="nav-workflowfonctions"
    data-url="{{ path('open_orchestra_api_workflowfonctions_list') }}"
    data-displayed-elements="name"
    title="{{ 'open_orchestra_workflowfonction_admin.left_menu.administration.workflowfonction'|trans }}"
    >
    {{ 'open_orchestra_workflowfonction_admin.left_menu.administration.workflowfonction'|trans }}
</a>
