<div id="template_flex_model"
    data-delete-confirm-txt="{{ 'open_orchestra_backoffice.templates_flex.delete.text'|trans }}"
    data-delete-confirm-title="{{ 'open_orchestra_backoffice.templates_flex.delete.title'|trans }}"
>
    {% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/header._tpl.twig' %}
    <div class="hidden-info" id="generated-title" style="display: none">
        <%= template.get('name') %>
    </div>
    <div class="toolbar-container">
    </div>
    <div class="template-flex-container bg-color-blueLight">
    </div>
    {% include 'OpenOrchestraBackofficeBundle:BackOffice:Underscore/Jarvis/footer._tpl.twig' %}
</div>
