<span class="display-block-icon-font">
    <i class="fa fa-picture-o block-icon"></i>
    <strong>
        {{ 'open_orchestra_backoffice.block.display_media.title' | trans }}
    </strong>
    <p>
        {{ 'open_orchestra_backoffice.block.display_media.description' | trans }}
    </p>
</span>
