<div class="area-flex"
     data-title-new-row = "{{ 'open_orchestra_backoffice.form.area_flex.new_row_title'|trans() }}"
>
    <% if ('column' === area.get('area_type')) { %>
        <header class="text-center"><%= area.get('label') %></header>
    <% }  %>
    <div class="area-container area-<%= area.get('area_type') %>">
    </div>
    <% if (
        'row' !== area.get('area_type') &&
        "undefined" !== typeof(area.get('links')._self_form_new_row)
       ) {
    %>
        <div class="area-action">
            <button type="button" class="add-row btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> {{ 'open_orchestra_backoffice.areas_flex.new_row_label'|trans() }}
            </button>
        </div>
    <% } %>
</div>
