{% import "OpenOrchestraBackofficeBundle:Tree:tree-macros.html.twig" as macros %}
{% set tree %}
    <li>
        <a href="#">
            <span class="menu-item-parent">
                {{ name }}
            </span>
        </a>

        <ul class="{{ name }}-connectedSortable">
            {% block menu %}
            {% endblock %}
        </ul>
    </li>
{% endset %}

{% if not tree is empty and not block('menu')|trim is empty%}
    {{ tree|raw }}
{% endif %}