{% import "PHPOrchestraBackofficeBundle:Tree:tree-macros.html.twig" as macros %}
<li data-element-id="page">
    <a href="#" class="ajax-remove-hash">
        <span class="menu-item-parent">
            {{ name }}
        </span>
    </a>
    <ul class="{{ name }}-connectedSortable">
        {% block menu %}
        {% endblock %}
    </ul>
</li>
