<div class="panel panel-default">
    <div class="panel-heading"><%- Translator.trans(title) %></div>
    <table class="table">
        <tbody>
       <% if (_.isEmpty(entities)) { %>
            <tr>
                <td class="text-center" colspan="4" >
                    <%- Translator.trans('open_orchestra_backoffice.dashboard.widget.list.no_entities') %>
                </td>
            </tr>
        <% } else { %>
            <% _.each(entities, function(entity, key) { %>
                <tr>
                    <td>
                        <% if (true == entity.get('rights').can_edit) { %>
                            <a href='#<%- editLink(entity) %>'><%- entity.get('name') %></a>
                        <% } else { %>
                            <%- entity.get('name') %>
                        <% } %>
                    </td>
                    <td><%- entity.get('language')  %></td>
                    <td><%- DateFormatter.format(entity.get('updated_at'))  %></td>
                </tr>
            <% }); %>
        <% } %>
        </tbody>
    </table>
</div>
