<span class="display-block-icon-font">
    <i class="fa fa-language block-icon"></i>
    <strong>
        {{ 'open_orchestra_backoffice.block.language_list.title' | trans }}
    </strong>
    <p>
        {{ 'open_orchestra_backoffice.block.language_list.description' | trans }}
    </p>
</span>
