<span class="display-block-icon-font">
    <i class="fa fa-language"></i>
    {{ 'php_orchestra_backoffice.block.language_list.title' | trans }} <br />
    {{ 'php_orchestra_backoffice.block.language_list.description' | trans }} <br />
</span>
