<div class="col-sm-2 oo-col-media-7">
    <select class="form-control value-holder" data-role-name="<%= role.name %>">
        <% if (element.parent_id != '-') { %>
            <option value="inherit">
                {{ 'open_orchestra_backoffice.form.group.access_inherit'|trans }}
            </option>
        <% } %>
        <option value="granted">
            {{ 'open_orchestra_backoffice.form.group.access_granted'|trans }}
        </option>
        <option value="denied">
            {{ 'open_orchestra_backoffice.form.group.access_denied'|trans }}
        </option>
    </select>
</div>
