<div class="row header-role-list" data-title="{{ 'open_orchestra_backoffice.form.group.node_role_edition'|trans }}">
    <div class="alert alert-info" role="alert">
        {{ 'open_orchestra_backoffice.form.group.node_role_no_site'|trans }}
    </div>
</div>
