<div class="row header-role-list">
    <div class="col-sm-3">{{ 'open_orchestra_backoffice.form.group.page_list'|trans }}</div>
    <div class="col-sm-9 head-element"></div>
</div>

<ul class="content-document-list" data-title="{{ 'open_orchestra_backoffice.form.group.node_role_edition'|trans }}">
</ul>
