<!-- search mobile button (this is hidden till mobile view port) -->
<div id="search-mobile" class="btn-header transparent pull-right">
    <span> <a href="#" title="*Search*"><i class="fa fa-search"></i></a> </span>
</div>
<!-- end search mobile button -->

<!-- input: search field -->
<form action="#" class="header-search pull-right">
    <input id="search-fld"  type="text" name="param" placeholder="*Rechercher*"">
    <button type="submit">
        <i class="fa fa-search"></i>
    </button>
    <a href="#;" id="cancel-search-js" title="Annuler"><i class="fa fa-times"></i></a>
</form>
<!-- end input: search field -->
