<div class="top-action-buttons">
    <a class="btn btn-border btn-return" href="#<%= Backbone.history.generateUrl('listContent', {contentTypeId: contentTypeId, language: language}) %>" role="button">
        <%= Translator.trans('open_orchestra_backoffice.back_to_list') %>
    </a>
</div>
<div class="pull-right languages">
    <ul>
        <% for (var siteLanguage in siteLanguageUrl) { %>
            <% if (siteLanguage === language) { %>
                <li class="active">
                    <img src="/images/languages/<%= siteLanguage %>.png" alt="<%= siteLanguage %>" /><%= siteLanguage.toUpperCase() %>
                </li>
                <% } else { %>
                <li>
                    <a href="#<%= siteLanguageUrl[siteLanguage] %>">
                        <img src="/images/languages/<%= siteLanguage %>.png" alt="<%= siteLanguage %>" /><%= siteLanguage.toUpperCase() %>
                    </a>
                </li>
            <% }; %>
        <% }; %>
    </ul>
</div>
<h1 id="page-name"></h1>
<%= renderTemplate('FlashMessage/flashMessage', {flashMessages: messages}) %>
<div class="content-action-toolbar"></div>
<div class='form-edit'></div>
