<span class="display-block-icon-font">
    <i class="fa fa-file-photo-o block-icon"></i>
    <strong>{{ 'php_orchestra_backoffice.block.carrousel.title' | trans }}</strong>
    <p>
        {{ 'php_orchestra_backoffice.block.carrousel.description' | trans }}
    </p>
</span>
