<div class="display-block-icon-font">
    <i class="fa fa-map-marker block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.gmap.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.gmap.description' | trans }}
    </p>
</div>
