<ul class="list-block">
    <% _.each(blocks.models, function(block) { %>
     <li
         class = "item-block <%= ('generate' == block.get('method')) ? 'bg-orchestra-orange' : 'bg-orchestra-blue' %> "
         data-block-id = "<%= block.cid %>"
     >
        <%= block.get('ui_model').html %>
    </li>
    <% }); %>
</ul>
