<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><%= Translator.trans('open_orchestra_backoffice.header.sign_out') %></h4>
        </div>
        <div class="modal-body">
            <p><%= Translator.trans('open_orchestra_backoffice.log_out_modal.security_message') %></p>
            <div class="bottom-action-buttons">
                <a type="submit" href="<%= Routing.generate('fos_user_security_logout') %>" class="btn btn-success">
                    <%= Translator.trans('open_orchestra_backoffice.log_out_modal.yes') %>
                </a>
                <button class="btn btn-danger" data-dismiss="modal">
                    <%= Translator.trans('open_orchestra_backoffice.log_out_modal.no') %>
                </button>
            </div>
        </div>
    </div>
</div>
