<div class="website dropdown">
    <% if (null !== currentSite) { %>
        <button class="btn dropdown-toggle" type="button" id="select-website" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <strong><%- Translator.trans('open_orchestra_backoffice.header.site') %>:</strong>
            <%- currentSite.get('name') %>
            <% if ( 0 !== sites.length) { %>
                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            <% }; %>
        </button>
        <% if ( 0 !== sites.length) { %>
            <ul class="dropdown-menu" aria-labelledby="select-website">
                <% _.each(sites, function(site, key) { %>
                    <li>
                        <a href="<%- Routing.generate(
                                        'homepage_with_site_id_and_language',
                                        {'siteId': site.get('site_id')}
                                  )%>"
                        >
                            <%- site.get('name') %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% }; %>
    <% }; %>
</div>

<div class="home">
    <a href="<%- linkMainAlias %>" target="_blank"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
