<span class="display-block-icon-font">
    <i class="fa fa-file-image-o block-icon"></i>
    <strong>
        {{ 'open_orchestra_mediaadmin.block.media_list_by_keyword.title' | trans }}
    </strong>
    <p>
        {{ 'open_orchestra_mediaadmin.block.media_list_by_keyword.description' | trans }}
    </p>
</span>
