<div class="display-block-icon-font">
    <i class="fa fa-file-image-o block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.media_list_by_keyword.title' | trans }}</strong>
        {{ 'open_orchestra_media_admin.block.media_list_by_keyword.description' | trans }}
    </p>
</div>
