{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

{{ form(form) }}

{% if blockType is defined %}
    <span class="orchestra-hidden-info" id="dynamic-modal-title">{{ ('php_orchestra_backoffice.block.' ~ blockType ~ '.title') | trans }}</span>
{% endif %}

{{ tinymce_init() }}
