{% if refresh %}
    <script type="text/javascript">
        Backbone.history.loadUrl(Backbone.history.fragment);
    </script>
{% endif %}

{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

{{ form(form) }}

{% if blockType is defined %}
    <span class="orchestra-hidden-info" id="dynamic-modal-title">{{ ('php_orchestra_backoffice.block.' ~ blockType ~ '.title') | trans }}</span>
{% endif %}