<span class="display-block-icon-font">
    <i class="fa fa-youtube-play block-icon"></i>
    <strong>
        {{ 'php_orchestra_backoffice.block.youtube.title' | trans }}
    </strong>
    <p>
        {{ 'php_orchestra_backoffice.block.youtube.description' | trans }}
    </p>
</span>
