{##
 # This file is part of the PHPOrchestra\CMSBundle.
 #
 # @author Benjamin Fouché <benjamin.fouche@businessdecision.com>
 ##}

{% javascripts
'@PHPOrchestraCMSBundle/Resources/public/js/autocomple.js'
%} {% endjavascripts %}

<div class="ui-widget">
    {{ form(form) }}
</div>