.workflow .underline-label { margin-bottom: 30px; }

.dropdown-workflow {
    & button {
        padding-right: 30px;
        border: 1px solid #ccc;
        background-color: #fff;
    }
    li a:hover {
        cursor: pointer;
    }
}

.table.transition-workflow {
    [type="checkbox"]:checked + label,
    [type="checkbox"]:not(:checked) + label{
        margin: 0 0 5px;
        padding: 0 0  0 25px;
        line-height: normal;
    }
}

.workflow-cell-parameter {
    text-align: center;
}

.workflow-turquoise {
    color: #1abc9c;
}

.workflow-green {
    color: #2ecc71;
}

.workflow-blue {
    color: #3498db;
}

.workflow-purple {
    color: #9b59b6;
}

.workflow-dark-grey {
    color: #34495e;
}

.workflow-yellow {
    color: #f1c40f;
}

.workflow-orange {
    color: #e67e22;
}

.workflow-red {
    color: #e74c3c;
}

.workflow-grey {
    color: #95a5a6;
}
