<div class="top-action-buttons">
    <a class="btn btn-info" href="" role="button"><%= Translator.trans('open_orchestra_backoffice.add')%></a>
</div>
<h1> <%= Translator.trans('open_orchestra_backoffice.site.title_list') %></h1>
<form class="form-horizontal search-engine">
    <div class="form-group col-lg-6">
        <label for="name" class="control-label col-md-4"><%= Translator.trans('open_orchestra_backoffice.site.search_engine.name')%></label>
        <div class="col-md-8">
            <input type="text" name='name' class="form-control" id="name">
        </div>
    </div>
    <div class="form-group col-lg-6">
        <button class="btn btn-info col-md-offset-4 submit"><%= Translator.trans('open_orchestra_backoffice.search_engine.filter')%></button>
    </div>
</form>
<div class="sites-list">
</div>
