<span class="display-block-icon-font">
    <i class="fa fa-text-height block-icon"></i>
    <strong>
        {{ 'php_orchestra_backoffice.block.tiny_mce_wysiwyg.title' | trans }}
    </strong>
    <p>
        {{ 'php_orchestra_backoffice.block.tiny_mce_wysiwyg.description' | trans }}
    </p>
</span>
