<div class="block-icon-font">
    <i class="fa fa-text-height block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_backoffice.block.tiny_mce_wysiwyg.title' | trans }}</strong>
        {{ 'open_orchestra_backoffice.block.tiny_mce_wysiwyg.description' | trans }}
    </p>
</div>
