<!-- User info -->
<div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as it --> 

        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="{{ asset('bundles/phporchestrabackoffice/smartadmin/img/avatars/male.png') }}" alt="me" class="online" /> 
            <span>
                {{ app.user }} 
            </span>
            <i class="fa fa-angle-down"></i>
        </a> 

    </span>
</div>
<!-- end user info -->
