<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">
    <!-- new widget -->
    <div id="widget-id-<%= widget_name %>"
         class="jarviswidget jarviswidget-sortable jarviswidget-color-blueDark"
         data-widget-deletebutton="false"
         data-widget-editbutton="false"
         data-widget-colorbutton="false"
     >
        <header>
            <h2><%= title %></h2>
        </header>
        <div>
            <div class="widget-body">
            </div>
        </div>
    </div>
</article>
