<div>

    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
            <div class="radio radio-inline">
                <input id="template-radio" value="oo_node_nodeTemplateSelection_template" name="radioNodeTemplateChoice" checked="checked"  type="radio">
                <label for="template-radio"><%= Translator.trans('open_orchestra_backoffice.form.behavior.use_template') %></label>
            </div>
            <div class="radio radio-inline">
                <input id="page-radio" value="oo_node_nodeTemplateSelection_nodeSource" name="radioNodeTemplateChoice" type="radio">
                <label for="page-radio"><%= Translator.trans('open_orchestra_backoffice.form.behavior.copy_page') %></label>
            </div>
        </div>
    </div>

    <div class="input-node-template-selection">
    </div>
</div>
